.about {
  &-parking {
    background-color: $gray;
    box-shadow: 0px 0px 20px 0px rgba(33,33,33,1);
    background-image: url("../img/caravan.png");
    background-repeat: no-repeat;
    background-position: 85% 50%;
    padding: 50px 100px;

    &__h {
      color: $blue;
      font-size: 30px;
      margin-bottom: 35px;

      &-bold {
        font-weight: bold;
      }
    }

    &__p {
      font-size: 18px;
      line-height: 30px;
    }
  }
}