.footer {
  color: $gray;
  padding: 5px 0;

  &-copyright {
    font-size: 15px;
    line-height: 50px;

    a {
      color: $gray;
      font-style: italic;

      &:hover {
        color: $gray;
      }
    }
  }
}