.section-top {
  background: url("../img/bg_top.jpg") no-repeat 100% 50%;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  min-height: 500px;
}

/*-----------------logo-mobile-----------------*/
.logo-mobile {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
}

.header {
  $padding: 10px;
  $width_img: 40px;
  z-index: 1000;

  padding: $padding 0;

  &-logo {
    &__img {
      width: $width_img;
    }
  }

  &-navigation {
    text-align: center;

    &__item {
      color: white;
      margin-right: 30px;
      font-size: 18px;
      line-height: $width_img + $padding * 2;
      transition: .2s;

      &:hover {
        text-decoration: none;
        color: $blue;
      }
    }
  }

  &-language {
    text-align: right;


    &__a {
      font-size: 16px;
      color: $white;
      line-height: $width_img + $padding * 2;
      transition: 0.1s;

      &:hover {
        color: $blue;
        text-decoration: none;
      }
    }
  }
}

.name {
  margin-top: 50px;
  text-shadow: 2px 2px 2px rgba(38,38,38, 1);

  &__h2 {
    line-height: 80px;
    color: $white;
    font-size: 50px;
    font-weight: bold;

    &-big {
      font-size: 70px;
    }
  }
}

/*-----Header fixed----*/

.header-fixed {
  display: none;
  background: rgba(0,0,0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s;
}

.active-item {
  color: $dark-blue;
}

/*--------------Header Mobile------------*/

.mobile {
  &-menu {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1005;
  }

  &-nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1006;

    a {
      display: block;
      width: 100%;
      padding: 15px 0;
      text-align: center;
      background: rgba(0, 0, 0, 0.9);
      color: $gray;
      font-size: 25px;
      transition: 0.2s;
      border-bottom: 1px solid $gray;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        color: $orange;
      }
    }
  }
}

/*-----Hamburger icon----*/

.hamburger-icon {
  display: none;
  position: fixed;
  top: 5%;
  right: 5%;
  font-size: 50px;
  color: $orange;
  cursor: pointer;
}