.selling {
  &-section {
    color: $gray;
    padding: 50px 10px;

    &__h3 {
      text-align: center;
      font-size: 26px;
      margin-bottom: 30px;
    }
  }

  &-caravan {
    width: 80%;
    margin: 0 auto;

    &-margin {
      margin-bottom: 50px;
    }

    &__none {
      display: none;
    }

    &-avatar {
      position: relative;
      max-height: 200px;
      overflow: hidden;
      cursor: pointer;

      img {
        width: 100%;
      }

      h6 {
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
        font-size: 24px;
        text-align: center;
        z-index: 2;
        transition: 0.4s;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
        transition: 0.2s;
      }

      &:hover {
        &:after {
          opacity: 0;
        }

        h6 {
          top: -50%;
        }
      }
    }
  }

  &-price {
    text-align: center;
    font-size: 30px;
    line-height: 46px;
  }

  &-details {
    cursor: pointer;
    width: 100%;
    padding: 12px 20px;
    text-align: center;
    color: $dark-blue;
    font-weight: bold;
    background: $orange;
  }

  &-more {
    text-align: right;
    font-size: 30px;

    &__btn {
      background: none;
      border: none;
      text-decoration: underline;
    }
  }
}