@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }

  .about-parking {
    padding: 20px 10px;
  }

  .service-item {
    margin-bottom: 30px;
  }

  .we-section {
    background: $gray;
  }
}