$blue: #25223D;
$white: #F7F7F8;
$gray: #E6E6E6;
$dark-blue: #282744;

/*Settings*/
@import "config/config";

/*Import mixins*/
@import "mixins/mixins";

/*Import template*/
@import "template/header";
@import "template/about";