@media screen and (max-width: 767px) {
  html {
    font-size: 15px;
  }

  .logo-mobile {
    display: block;
    z-index: 1001;
  }

  .section-top {
    background-position: left 50%;
  }

  .name {
    margin-bottom: -20px;
  }

  .content-top {
    margin-top: 0;
  }

  .about-parking {
    background: $gray;
    padding: 20px;
  }

  .header {
    opacity: 0;
    z-index: 0;
  }

  .hamburger-icon {
    display: block;
    z-index: 1006;
  }

  .name {
    margin-top: -50px;
  }

  #owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
  }

  .modal {
    &-content {
      width: 80%;
    }
  }
}