@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }

  .about-parking {
    padding: 30px;
  }

  .service-item {
    margin-bottom: 30px;
  }

  .we-section {
    background: $gray;
  }

  .carousel {
    width: 80%;
  }

  .modal-owl-carousel {
    width: 100%;
  }

  #owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 200px;
    max-height: inherit;
    margin: 0 auto;
    border-radius: 5px;
  }
}